# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Archivos de testing (futuro)
.pytest_cache/
.coverage

# Archivos compilados
*.pyc